@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    --mdc-theme-primary: #00CC66;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Nunito", "Lato", "Muli", "Helvetica Neue", "Arial", sans-serif;
    color: #fafafb;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Chivo", "Nunito", "Lato", "Muli", "Helvetica Neue", "Arial",
    sans-serif;
}

#kc-container {
    height: 100%;
    min-height: 760px;
}

.kc-container-white {
    background: #14142b url("../img/background-white.png") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.kc-container-black {
    background: #14142b url("../img/background.png") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#kc-container-wrapper-top {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#kc-container-wrapper-left {
    position: absolute;
    left: 200px;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
}

#kc-container-wrapper-right {
    position: absolute;
    right: 200px;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
}

#kc-container-wrapper-bottom {
    position: absolute;
    bottom: 80px;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: center;
}

.kc-logo {
    max-width: 360px;
}

#kc-content {
    z-index: 1;
    width: 360px;
    max-width: calc(100% - 10px);
    margin: 50px;
    overflow: hidden;
}

.kc-content-white {
    background: #fffffff0;
    border-radius: 20px;
    text-align: center;
}

.kc-content-black {
    background: #1c1c24f0;
    border-radius: 20px;
    text-align: center;
}

#kc-content-wrapper {
    max-width: 360px;
}

#kc-content-wrapper .alert {
    width: 100%;
    margin-left: -20px;
    border-radius: 20px 20px 0 0;
    border: none;
}

.mdc-floating-label {
    z-index: 1;
    font-family: "Nunito", "Lato", "Muli", "Helvetica Neue", "Arial", sans-serif;
    transform: translateY(-130%) scale(0.75);
    font-size: 15px;
}

.kc-content-black .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    font-size: 17px;
    color: #FCFCFC;
}

.kc-content-white .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    font-size: 17px;
    color: #14142b;
}

.mdc-text-field {
    height: 52px;
    width: 100%;
    margin-top: 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-bottom-color: #92929d !important;
    border-left-color: #92929d;
    border-right-color: #92929d;
    border-top-color: #92929d;
}

.kc-content-black .mdc-text-field {
    background-color: #262338 !important;
}

.kc-content-white .mdc-text-field {
    background-color: #f5f5f5 !important;
}

.mdc-text-field__input {
    font-size: 15px;
}

.kc-content-black .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #fcfcfc;
}

.kc-content-white .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #14142b;
}

.mdc-text-field--filled::before {
    height: 39px;
}

.mdc-text-field--focused {
    border-bottom-color: #92929d !important;
    border-left-color: #92929d;
    border-right-color: #92929d;
    border-top-color: #92929d;
}

.mdc-text-field--invalid {
    border-bottom-color: #e40173 !important;
    border-left-color: #e40173;
    border-right-color: #e40173;
    border-top-color: #e40173;
}

.mdc-form-field label {
    color: #FCFCFC;
}

.mdc-checkbox .mdc-checkbox__background {
    border-color: #FCFCFC !important;
}

.eye-icon {
    cursor: pointer !important;
    pointer-events: unset !important;
    outline: none;
    align-self: center;
    color: #92929d !important;
}

#forgotPasswordContainer {
    text-align: right;
}

#rememberMeContainer {
    text-align: left;
}

.nav-link {
    color: #ffc8c8;
    text-decoration: none;
}

.mdc-button {
    display: flex;
    width: 100%;
    height: 46px;
    background-color: var(--mdc-theme-primary) !important;
    border-radius: 8px;
    box-shadow: none !important;
    margin: 15px 0;
    font-family: "Nunito", "Lato", "Muli", "Helvetica Neue", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: unset;
}

.mdc-link-button {
    display: flex;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #fcfcfc !important;
    transition: background-color 5000s ease-in-out 0s;
}

#kc-error-message p {
    margin: 0;
}

#kc-form-wrapper form {
    padding: 0 20px;
}

#privacy-policy {
    font-size: 13px;
}

#privacy-policy a {
    color: #1e75ff;
}

/* LOGIN */
#kc-form-title {
    font-size: 24px;
    margin-top: 30px;
}

.kc-form-title-white {
    color: #4e4b66 !important;
}

.kc-form-title-black {
    color: #fafafb !important;
}

.separator {
    display: block;
    color: #fafafb;
    margin-bottom: 15px;
    font-size: 13px;
}

#kc-social-providers {
    margin-bottom: 30px;
    padding: 0 20px;
}

.zocial {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;

    border-radius: 8px;
    color: #fcfcfc;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
}

.zocial-white {
    background-color: #262338 !important;
}

.zocial-black {
    background-color: #4e4b66;
}

.provider {
    text-transform: capitalize;
}

.zocial img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.zocial-text {
    min-width: 150px;
}

#footer-container {
    padding: 13px 0;
}

.footer-container-white {
    padding: 13px 0;
    background-color: #262338 !important;
}

.footer-container-black {
    padding: 13px 0;
    background-color: #4E4B66;
}

#kc-footer-button a {
    font-size: 13px;
    font-weight: bold;
    color: #fafafb;
    text-decoration: none;
    cursor: pointer;
}

/* TEMPLATE */

.template .language-picker {
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 195px;
}

.template .language-picker .language-icon {
    float: left;
    color: rgba(0, 0, 0, 0.54);
}

.template .language-picker .mdc-select {
    float: right;
    margin-top: -25px;
}

.template .language-picker .mdc-select option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
